* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

.background {
  background-image: url('./image/mountain.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.center-display {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.center-display h1 {
  font-size: 3.25rem;
}

.dob-initial i {
  font-size: 3rem;
}

.dob-initial i:hover {
  font-size: 4rem;
  cursor: pointer;
  color: white;
}

#dob-input-screen {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#dob-input-screen input {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.time-lived {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.time-lived-content {
  display: flex;
  gap: 2.5rem;
}

#submit-dob {
  all: unset;
  padding: 0.5rem;
  border-radius: 3rem;
  width: 5rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}

#reset-btn {
  all: unset;
  padding: 0.5rem;
  border-radius: 3rem;
  width: 5rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}